.App {
  display: flex;
  background-color: var(--color-grey);
  color: var(--color-off-white);

}

html {
  background-color: var(--color-site-bg);
  font-family: SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.contentWrapper {
  width: 100%;
}

.navbar {
  height: 44px;
  text-align: center;
  border-bottom: 1px solid var(--color-off-white);
  display: flex;
  flex-direction: column;
  background-color: var(--color-navbar-bg);
}

.navbar p {
  vertical-align: center;
}